.grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .node {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    transition: background-color 0.2s ease-in-out;
  }
  
  .node-start {
    background-color: green;
  }
  
  .node-end {
    background-color: red;
  }
  
  .node-visited {
    background-color: purple;
  }
  
  .node-wall {
    background-color: black;
  }
  
  .node-shortest-path {
    background-color: yellow;
  }
  